
    .Header-1 {
        font-size: 14vw;
        margin-top: 50vw;
        margin-bottom: 3%;
        Line-height: 0.9;
        text-align: center;
    }

    .Shop-Now {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        min-width: 0;
        min-height: 80px;
        height: auto;
        font-size: 8vw;
        border-width: 8px;
        margin: 10px auto;
        border-color: rgb(200, 0, 0);
        border-style: solid;
        color: white;
        background-color: black;
        font-family: "Stardos Stencil", system-ui;
        font-weight: 700;
        font-style: normal;
    }

    .shop-now i {
        color: white;
        margin-right: 5%;
    }

    .shop-now:hover {
        opacity: 0.9;
    }

    .shop-now:active {
        opacity: 0.85;
    }

     .Review {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        min-width: 0;
        min-height: 70px;
        height: auto;
        font-size: 7vw;
        border-width: 8px;
        margin: 10px auto;
        border-color: rgb(200, 0, 0);
        border-style: solid;
        color: white;
        background-color: black;
        font-family: "Stardos Stencil", system-ui;
        font-weight: 700;
        font-style: normal;
    }

    .Review i {
         background: conic-gradient(
        from -45deg,
        #EA4335 0deg,
        #EA4335 60deg,
        #FBBC05 120deg,
        #34A853 220deg,
        #4285F4 300deg,
        #EA4335 360deg
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    display: inline-block;
    line-height: 1;
        margin-right: 5%;
    }

    .Review:hover {
        opacity: 0.9;
    }

    .Review:active {
        opacity: 0.85;
    }

    .Header-2{
        font-size: 14vw;
        margin-top: 50vw;
        margin-bottom: 3%;
        Line-height: 0.9;
        text-align: center;
    }

    .Facebook {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        min-height: 80px;
        width: 20%;
        height: auto;
        font-size: 15vw;
    }

    .Facebook i {
        color:#1877F2;
        margin-right: 5%;
    }

    .Facebook:hover {
        opacity: 0.8;
    }

    .Facebook:active {
        opacity: 0.75;
    }
    
    .Instagram {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        min-height: 80px;
        width: 20%;
        height: auto;
        font-size: 15vw;
    }

    .instagram i {
         background: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
    );

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    margin-right: 5%;
    }

    .Instagram:hover {
        opacity: 0.8;
    }

    .Instagram:active {
        opacity: 0.75;
    }

    .TikTok {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        min-height: 80px;
        width: 20%;
        height: auto;
        font-size: 15vw;
    }

    .TikTok i {
        color: black;
        text-shadow:
        -3px -3px 0 #25F4EE,   
        3px 3px 0 #FE2C55; 
        margin-right: 5%;
    }

    .TikTok:hover {
        opacity: 0.9;
    }

    .TikTok:active {
        opacity: 0.85;
    }

    .X {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        min-height: 80px;
        width: 20%;
        height: auto;
        font-size: 15vw;
    }

    .X i {
        color: black;
        margin-right: 5%;
    }

    .X:hover {
        opacity: 0.9;
    }

    .X:active {
        opacity: 0.85;
    }

    .Linked-in {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        min-height: 80px;
        width: 20%;
        height: auto;
        font-size: 15vw;
        
    }

.Linked-in i {
    color:#0A66C2;
    margin-right: 5%;
}

.Linked-in:hover {
     opacity: 0.8;
}

.Linked-in:active {
    opacity: 0.75;
 }

    .Socials-Shops {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }

    .Socials-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        width: 100%;
    }

    .background {
        background-image: url("Images/Background.jpg");
        min-height: 100vh;
        background-size: cover;
        background-position: center top;
        background-repeat: repeat-y;
    }

    .Header-1 {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
}

    .Header-2 {
  font-family: "Stardos Stencil", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 10vw;
  margin-top: 8%;
  margin-bottom: 3%;
}

a {
    text-decoration: none;
}

.body {
    margin: 0;
}

.Sticky-Header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}

.Logo {
    width: 40%;
    height: auto;
    max-height: 90%;
}

html, body {
    margin: 0;
    padding: 0;
}